.app {
    min-height: 100vh;
    width: 100%;
    background-color: #120833;
}

.app-border {
    width: 100%;
    border: 4px solid #818181;
    border-radius: 5px;
}

.app-logo-wrap {
    width: 60px;
}

.app-logo {
    width: 100%;
}

.app-title {
    font-family: 'W Hermann';
    font-style: italic;
    font-weight: 600;
    text-align: center;
    font-size: 1.75rem;
    color: white;
}

.app-assets-mustachio {
    width: 350px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.app-assets-mustachio img {
    width: 100%;
}

.app-icons {
    margin-top: 5px;
}

.app-content {
    height: auto;
}

.app-content-main {
    width: 550px;
    margin: 0 auto;
}

.app-content-main p {
    color: white;
    font-family: 'W Hermann';
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.app-content-main span {
    font-weight: bold;
    font-size: 3.5rem;
}

.app-btn button {
    background-color: white;
    color: #120833;
    font-family: 'W Hermann';
    font-size: 1.75rem;
    line-height: 1.5rem;
    width: 175px;
    border-radius: 10px;
}

.app-btn :hover {
    background-color: #efefef;
}

.app-video {
    width: 325px;
    margin: 0 auto;
}

.app-video video {
    width: 100%;
}

.app-metamask-modal-img {
    width: 70%;
    margin: 0 auto;
}

.app-metamask-modal-img img {
    width: 100%;
}

.app-metamask-modal-content, 
.app-soldout-modal-content, 
.app-network-modal-content,
.app-pending-modal-content,
.app-error-modal-content,
.app-success-modal-content {
    font-family: 'W Hermann';
    font-weight: 600;
    font-size: 1rem;
}

.app-loading-big-letter {
    font-weight: bold;
    font-size: 2rem;
}

.app-note {
    font-family: 'W Hermann';
    color: white;
    text-align: center;
}

@media (max-width: 1080px) {
    .app-content-main {
        width: 500px;
    }
}

@media (max-width: 991px) {
    .app-content-main {
        width: 80%;
    }

    .app-video {
        width: 80%;
        margin-bottom: 1.5rem;
    }

    .app-assets-wrap {
        margin-top: 1.5rem;
    }
}

@media (max-width: 768px) {
    .lg-screen {
        display: none !important;
    }

    .md-screen {
        display: block !important;
        margin-top: 1.5rem;
        font-size: 2.5rem;
    }

    .main-content {
        margin-top: 1.5rem !important;
    }

    .top-header > .col-3 {
        width: 50% !important;
    }
}

@media (max-width: 600px) {
    .app-assets-mustachio {
        width: 40%;
        margin-top: 35px;
    }
}

@media (max-width: 576px) {
    .app-content {
        padding: 0.5rem !important;
        margin-top: 1.25rem;
    }

    .md-screen {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .app-content-main {
        width: 100%;
    }

    .app-video {
        width: 100%;
    }

    .app-assets-mustachio {
        margin-top: 30px;
    }

    .app-assets-left-sword,
    .app-assets-right-sword {
        width: 60px;
    }

    .top-header > div:nth-child(1) {
        width: 30% !important;
    }

    .top-header > div:nth-child(3) {
        width: 70% !important;
    }
}