.h-90vh {
    height: 90vh !important;
}

.page-cover-mobile {
    background: url('../images/ch_1/cover_square.jpg') no-repeat center;
    background-size: contain;
}

@media (max-width: 768px) {
    .page-cover-mobile {
        background: url('../images/ch_1/cover.png') no-repeat center;
        background-size: contain;
    }

    .content-mobile-wrap {
        margin-top: 0.5rem !important;
    }

    .content-mobile {
        font-size: 0.825rem;
        margin-bottom: 1rem;
    }

    .content-mobile span {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .mustachio-logo-mobile-wrap {
        margin-bottom: 1.2rem !important;
    }

    .mustachio-logo-mobile {
        width: 50px;
    }

    .mobile-socmed-icons {
        width: 80% !important;
    }
}