.h-90vh {
    height: 90vh !important;
}

.page-cover-mobile {
    background: url('../images/ch_1/cover_square.jpg') no-repeat center;
    background-size: contain;
}

@media (max-width: 576px) {
    .mustachio-logo-mobile-wrap {
        margin-bottom: 1.2rem !important;
    }

    .mustachio-logo-mobile {
        width: 50px;
    }

    .mobile-socmed-icons {
        width: 80% !important;
    }

    .content-mobile-inner {
        padding: 0 0.5rem;
    }

    .content-mobile-wrap {
        margin-top: 0 !important;
    }
}

@media (max-width: 992px) and (min-height: 700px) {
    .content-mobile {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) and (max-height: 699px) {
    .content-mobile {
        font-size: 0.825rem;
    }
}