.h-90vh {
    height: 90vh !important;
}

.page-cover-mobile {
    background: url('../images/ch_1/cover_square.jpg') no-repeat center;
    background-size: contain;
}

@media (max-width: 992px) {
    .content-mobile {
        font-size: 0.825rem;
        margin-bottom: 1rem;
    }

    .content-mobile-inner {
        padding: 0 1.5rem;
    }
}

@media (max-width: 992px) and (min-height: 700px) {
    .content-mobile {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) and (max-height: 699px) {
    .content-mobile {
        font-size: 0.825rem;
    }
}