.app {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;

    background-image: url('./images/page1.jpg');
    background-position: center center;
    background-size: cover;
}

.app-back-arrow {
    position: absolute;
    top: 5%;
    left: 2rem;
    opacity: 0.3;
    transition: all 0.5s ease;
}

.app-back-arrow-text {
    display: inline-block;
    position: absolute;
    width: 200px;
    top: 3px;
    left: 40px;
}

.app-next-arrow {
    position: absolute;
    top: 5%;
    right: 2rem;
    opacity: 0.3;
    transition: all 0.5s ease;
}

.app-next-arrow-text {
    display: inline-block;
    position: absolute;
    width: 450px;
    right: 40px;
    text-align: right;
}

.app-next-arrow-text.chapter {
    top: 0;
}

.app-next-arrow-text.subtitle {
    top: 30px;
}

.app-back-arrow:hover,
.app-back-arrow:focus,
.app-next-arrow:hover,
.app-next-arrow:focus {
    opacity: 1;
}

.app-soc-med {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}


@media (max-width: 768px) {
    .app {
        background-image: url('./images/tab1.jpg');
    }

    .app-soc-med {
        bottom: 10px;
    }

    .app-soc-med a:first-child,
    .app-soc-med a:nth-child(3) {
        margin-right: 2rem !important;
    }
}

@media (max-width: 576px) {
    .app {
        background-image: url('./images/mobile1.jpg');
        background-position: center bottom;
    }

    .app-back-arrow svg, .app-next-arrow svg {
        font-size: 1.5em;
    }

    .app-back-arrow-text, .app-next-arrow-text {
        font-size: 0.875rem;
        line-height: 1.25rem;
        top: 4%;
    }

    .app-next-arrow-text.chapter {
        font-size: 1rem !important;
    }

    .app-next-arrow-text.subtitle {
        top: 18px;
    }

    .left-soc {
        width: 80%;
        margin-right: 20%;
    }

    .app-soc-med svg {
        font-size: 1.3rem;
    }
}

@media (max-width: 350px) {
    .app-back-arrow-text {
        display: none;
    }
}