.app {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    position: relative;

    background-image: url('./images/page1.jpg');
    background-position: center center;
    background-size: cover;
}

.app-back-arrow {
    position: absolute;
    top: 5%;
    left: 2rem;
    opacity: 0.3;
    transition: all 0.5s ease;
}

.app-back-arrow-text {
    display: inline-block;
    position: absolute;
    width: 200px;
    top: 3px;
    left: 40px;
}

.app-back-arrow:hover,
.app-back-arrow:focus {
    opacity: 1;
}

@media (max-width: 768px) {
    .app {
        background-image: url('./images/tab1.jpg');
    }
}

@media (max-width: 576px) {
    .app {
        background-image: url('./images/mobile1.jpg');
        background-position: center bottom;
    }
}